<div class="profile-user-container">
  <h3 class= "product-user-title">TUS DATOS</h3>
  <h2>Nombre legal</h2>
  <p><%= @user.name %></p>
  <h2>Telefono</h2>
  <p><%= @user.phone %></p>
  <h2>Direción</h2>
  <p><%= @user.address %></p>
  <h2>Ciudad</h2>
  <p><%= @user.city %></p>
  <h2>Dirección de correo electrónico</h2>
  <p><%= @user.email %></p>
  <div class="pb-5">
   <%= link_to 'Editar Perfil', edit_user_registration_path, class: "btn btn-dark btn-lg btn-block" %>
 </div>

</div>
