<%= render 'shared/navbar' %>
<br><br>
<% if @user == current_user %>
<% if current_user.admin? %>
<%= render 'user_admin' %>
<% else %>
<% end %>
<div class="user-show-container">
  <div class="user-show-title d-flex justify-content-between align-items-center">
    <h2>Welcome <%= @user.email %></h2>
    <h3> <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete%></h3>
  </div>
</div>
<div class="about-container">
  <div class="nav-tab">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Mi cuenta</a>
      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Historial de Pedidos</a>
      <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Datos Personales</a>
    </div>
  </div>
  <div class="nav-tab-content">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"><%= render 'user_product' %></div>
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"><%= render 'user_orders' %></div>
      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"><%= render 'profile' %></div>
    </div>
  </div>
</div>


<% else %>
<%= render 'shared/denied' %>
<% end %>
