<div class="login-wrapper">
  <div class="login-container">
    <div class="text-center">
      <hr class="hr-text" data-content="Olvidaste tu contraseña?">
    </div>
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <p>Email</p>
      <%= f.input :email,
      required: true,
      autofocus: true,
      label: false,
      input_html: { autocomplete: "email" }, placeholder: "mi@email.com" %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Recuperar contraseña", class: 'btn btn-primary btn-block' %>
    </div>
    <% end %>
    <div class="text-center mt-3">
      <p>Ya tenes cuenta?<%= render "devise/shared/links" %></p>
    </div>
  </div>
</div>
