<div class="product-card-wrapper">
  <%= link_to product_path(product) do %>
  <div class="product-card">
    <% product.photos.first(1).each do |photo| %>
    <%= cl_image_tag photo.key%>
    <% end %>
    <p><%= product.title %></p>
    <% if product.stock < 1 %>
    <h4 style="color: black;">AGOTADO</h4>
    <% else %>
    <div class="d-flex justify-content-center">
      <% if product.sale.present? %>
      <h4 style="color: red;"><%= humanized_money_with_symbol(product.price) %></h4>
      <h4 style="padding-left: 10px; text-decoration: line-through; color: lightgrey;">$<%= product.sale %></h4>
      <% else %>
      <h4><%= humanized_money_with_symbol(product.price) %></h4>
      <% end %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
