<nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-lewagon">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="guillo" onclick="onClick()">
    <span class="menu">
      <svg width="30" height="18" viewBox="0 0 30 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="30" height="2.57143" fill="white"/>
        <rect y="7.71429" width="18.2609" height="2.57143" fill="white"/>
        <rect y="15.4286" width="24.7826" height="2.57143" fill="white"/>
      </svg>
    </span>
    <span class="transparent cross">
      <svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="37.0786" height="3" transform="matrix(0.691384 0.722487 -0.805471 0.592635 4.36426 0)" fill="white"/>
        <rect width="37.0786" height="3" transform="matrix(0.691384 -0.722487 0.805471 0.592635 0 26.7888)" fill="white"/>
      </svg>
    </span>
  </button>
  <div>
    <%= link_to root_path, class: 'navbar-brand' do  %>
    <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1591298249/LogosTilo-04_1.png" alt="" style="width: 120px; height: 62px; object-fit: cover;">
    <% end %>
  </div>

  <div class="d-lg-none">
   <div class="d-flex align-items-center">
    <div class="cart-item">
      <% if total_cart_items %>
      <%= link_to cart_path(@cart) do %>
      <span class="icon is-small">
        <i class="fas fa-shopping-basket " style="color: white; font-size: 16px; padding-bottom: 0px;"></i>
      </span>
      <span><%= cart_count_over_one %></span>
      <% end %>
      <% end %>
    </div>
    <%= link_to pages_search_path do  %>
    <i class="fas fa-search" style="color: white; font-size: 16px; padding-top: 10px;"></i>
    <% end %>
  </div>
</div>

<div class="collapse navbar-collapse" id="navbarNav">
  <% @divisions.each do |division| %>
  <ul class="navbar-nav">
    <li class="nav-item">
      <%= link_to division.title, division_path(division), class: 'nav-link' %>
    </li>

    <% end %>
    <li class="nav-item d-lg-none">
      <% if user_signed_in? %>
      <%= link_to "Perfil", user_path(current_user), class: "nav-link" %>
      <% else %>
      <%= link_to "Iniciar sesión", new_user_session_path, class: "nav-link" %>
      <% end %>

    </li>
  </ul>
</div>
<div class="d-none d-lg-block">

  <div class="d-flex align-items-center">
    <div class="cart-item">
      <% if total_cart_items %>
      <%= link_to cart_path(@cart) do %>
      <span class="icon is-small">
        <i class="fas fa-shopping-basket"></i>
      </span>
      <span><%= cart_count_over_one %></span>
      <% end %>
      <% end %>
    </div>
    <div>
      <%= link_to pages_search_path do  %>
      <i class="fas fa-search" style="color: white; font-size: 24px;"></i>
      <% end %>
      <% if user_signed_in? %>
      <%= link_to user_path(current_user) do%>
      <i class="fas fa-user" style="color: white; margin-left: 8px;font-size: 24px;"></i>
      <% end %>
      <% else %>
      <%= link_to new_user_session_path do%>
      <i class="fas fa-user" style="color: white; margin-left: 8px;font-size: 24px;"></i>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
</nav>



<script>
  const onClick = () => {
    const crossButton = document.querySelector('.cross');
    const menuButton = document.querySelector('.menu');
    crossButton.classList.toggle('block');
    menuButton.classList.toggle('transparent');
  }
</script>

<style>
  .icon {
    font-size: 24px;
  }
</style>
