<%= render 'shared/navbar' %>
<div class="order-index-total">
  <h1 class="title-orders">Ventas</h1>
  <div class="text-center">
   <h1>TOTAL</h1>
   <h4><strong>$<%= @order %></strong></h4>
 </div>
</div>
<div class="order-index-content">
  <% @orders.each do |order| %>
  <div class="order-index-container">
    <div class="d-md-flex justify-content-between align-items-center">
      <h2><strong>Fecha: </strong><%= order.created_at.in_time_zone("Buenos Aires").strftime('%d/%m/%Y %H:%M') %></h2>
      <h2><strong>Precio: </strong>$<%= order.amount %></h2>
    </div>
    <h2><strong>Forma de Pago: </strong><%= order.method %></h2>
    <h2><strong>Envio: </strong>$<%= order.shipping %>(no incluido en el total)</h2>
    <div class="d-md-flex justify-content-between align-items-center">
      <h2><strong>Nombre: </strong><%= order.user.name %></h2>
      <h2><strong>Email: </strong><%= order.user.email %> </h2>
    </div>

    <div class="d-md-flex justify-content-between align-items-center">
      <h2><strong>Teléfono: </strong><%= order.user.phone %></h2>
      <h2><strong>Direccción: </strong><%= order.user.address %> </h2>
    </div>
    <div class="d-md-flex justify-content-between align-items-center">
      <h2><strong>Ciudad: </strong><%= order.user.city %> </h2>
    </div>
    <% order.cart.line_items.each do |line_item| %>
    <div class="order-index-footer">
     <% line_item.product.photos.first(1).each do |photo| %>
     <%= cl_image_tag photo.key %>
     <% end %>
     <div>
      <h2><strong>Producto: </strong><%= line_item.product.title %></h2>
      <h2><strong>Tamaño: </strong><%= line_item.product.flavor %></h2>
      <h2><strong>Cantidad: </strong><%= line_item.quantity %></h2>
    </div>
  </div>
  <% end %>
</div>
<% end%>
</div>
