<%= render 'shared/navbar' %>
<div class="order-wrapper-background" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&auto=format&fit=crop&w=1831&q=80');">
  <div class="order-show-wrapper">
    <div class="d-flex align-items-center  justify-content-center">
      <h1>Gracias por tu compra</h1><img src="https://cdn1.iconfinder.com/data/icons/color-bold-style/21/34-512.png" alt="" style="width: 40px;">
    </div>
    <% @order.cart.line_items.each do |line| %>
    <div class="order-show-container d-flex">
      <div class="product-order-show">
        <% line.product.photos.first(1).each do |photo| %>
        <%= cl_image_tag photo.key%>
        <% end %>
      </div>
      <div class="pl-3">
        <p><strong>Producto:</strong> <%= line.product.title %></p>
        <% if line.product.flavor.present?  %>
        <p><strong>Tamaño:</strong> <%= line.product.flavor %></p>
        <% else %>
        <% end %>
        <p><strong>Cantidad:</strong> <%= line.quantity %></p>
      </div>
    </div>
    <% end %>
    <div class="order-show-footer">
      <p>Estado:<strong> <%= @order.state %> <i class="far fa-check-circle"></i></p></strong>
      <p>Sub-total: <%= humanized_money_with_symbol(@order.amount) %></p>
      <% if @order.shipping == 0 %>
      <p>Envio: $<%= @order.shipping %> </p>
      <% else %>
      <p>Envio: <strong>a convenir</strong></p>
      <% end %>
      <br>
      <p>TOTAL: <strong>$<%= @order.total %></strong></p>
      <br>
      <p>Forma de Pago: <strong> <%= @order.method %></strong></p>
      <% if @order.method == "Transferencia Bancaria" %>
      <p>CBU: <strong>0140434403650552699460</strong></p>
      <p>Alias: <strong>TILOTIENDANATURAL</strong></p>
      <% end %>
    </div>
    <div class="order-show-button">
      <%= link_to 'Perfil', user_path(current_user), class: 'btn btn-product btn-lg btn-block'  %>
      <br>
      <%= link_to 'Ver mas Productos', root_path, class: 'btn btn-product btn-lg btn-block'  %>
    </div>
    <div class="text-center">
      <p style="font-size: 12px; font-weight: bold; margin-bottom: 0px; margin-top: 20px;">En breve nos contactaremos con usted para convenir el pago y la entrega</p>
    </div>
  </div>
</div>
