<div class="main-banner d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dokddymx6/image/upload/v1591368143/photo-1590080876351-941da357bde6_or9iz5.jpg);">
  <div class="main-container">
    <h1>TILO</h1>
    <p>TIENDA NATURAL</p>
  </div>
</div>
<section id="home-products">
  <div class="p-5 text-center home-title">
    <h2>Novedades</h2>
    <h3></h3>
  </div>
  <div class="scrolling-wrapper">
    <div class="home-card-container">
      <% @products.first(8).each do |product| %>
      <%= render 'shared/home_cards', product: product %>
      <% end %>
    </div>
  </div>
  <div class="p-5 text-center home-title">
    <h2>Destacados</h2>
    <h3></h3>
  </div>
  <div class="scrolling-wrapper">
    <div class="home-card-container">
      <% @products.last(8).each do |product| %>
      <%= render 'shared/home_cards', product: product %>
      <% end %>
    </div>
  </div>
</section>
<section id="social">
  <%= render 'shared/social' %>

</section>
<div class="social-banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://res.cloudinary.com/dokddymx6/image/upload/v1591538971/Captura_de_Pantalla_2020-06-07_a_la_s_11.06.14_mfxvby.jpg);">
  <%= link_to 'https://www.instagram.com/tilotiendanatural/' , target: '_blank' do  %>
  <h2 class="text-center"><i class="fab fa-instagram"></i> tilotiendanatural</h2>
  <div class="social-container">
    <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591539000/Captura_de_Pantalla_2020-06-07_a_la_s_11.08.31_uv0lnr.jpg" alt="">
    <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591538999/Captura_de_Pantalla_2020-06-07_a_la_s_11.08.17_ypkxd8.jpg" alt="">
    <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591538993/Captura_de_Pantalla_2020-06-07_a_la_s_11.07.31_vcu4xx.jpg" alt="">
    <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591538992/Captura_de_Pantalla_2020-06-07_a_la_s_11.06.57_m2cgrt.jpg" alt="">
    <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591539700/Captura_de_Pantalla_2020-06-07_a_la_s_11.20.53_pvkgfb.jpg" alt="" class="">
    <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591538992/Captura_de_Pantalla_2020-06-07_a_la_s_11.06.57_m2cgrt.jpg" alt="">
  </div>
  <% end %>
</div>
<div class="p-5 text-center home-title">
  <h2>Destacados</h2>
  <h3></h3>
</div>
<div class="scrolling-wrapper">
  <div class="home-card-container">
    <% @products.last(8).each do |product| %>
    <%= render 'shared/home_cards', product: product %>
    <% end %>
  </div>
</div>

