<%= render 'shared/topbar' %>
<%= render 'shared/navbar' %>
<div class="main-banner d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dokddymx6/image/upload/v1591368143/photo-1590080876351-941da357bde6_or9iz5.jpg);">
  <div class="main-container">
    <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1592342331/9d610470-d609-4038-a81c-6b9a177c29eb_mnbg4u.png" alt="">
  </div>
</div>
<section id="home-products">
  <%= render 'cards' %>
</section>
<section id="social">
  <%= render 'shared/social' %>
</section>
<section id="home-products-footer">
  <div class="p-5 text-center home-title">
    <h2>Recomendados</h2>
    <h3></h3>
  </div>
  <div class="scrolling-wrapper">
    <div class="home-card-container">
      <% @products.first(8).uniq(&:title).each do |product| %>
      <%= render 'shared/home_cards', product: product %>
      <% end %>
    </div>
  </div>
</section>
<br><br>
<%= render 'shared/footer' %>

