<%= render 'shared/navbar' %>
<div class="container info-important">
  <h2>Información importante</h2>
  <h3 style="text-decoration: underline;"><strong>CONTACTO</strong></h3>
  <h4>Tilo Plaza Sarmiento</h4>
  <ul>
    <li>El local esta ubicado en calle Rivadavia 246 esquina Juan B Justo (frente a la plaza Sarmiento)</li>
    <li>Abrimos TODOS los días, consulta los horarios en nuestro <%= link_to 'Instagram', 'https://www.instagram.com/tilotiendanatural/' , target: '_blank', class: "text-dark" %></li>
  </ul>
  <p class="mb-0 font-weight-bold"> <i class="fab fa-whatsapp-square h2 mr-2"></i> <a href="https://api.whatsapp.com/send?phone=5493364595450" target="_blank" rel="noopener noreferrer">336-4595450</a></p>
  <br>
  <h4>Tilo Catedral</h4>
  <ul>
    <li>El local esta ubicado en calle Guardias Nacionales 17</li>
    <li>Abrimos TODOS los días, consulta los horarios en nuestro <%= link_to 'Instagram', 'https://www.instagram.com/tilotiendanatural/' , target: '_blank', class: "text-dark" %></li>
  </ul>
  <p class="mb-0 font-weight-bold"> <i class="fab fa-whatsapp-square h2 mr-2"></i> <a href="https://api.whatsapp.com/send?phone=5493364495676" target="_blank" rel="noopener noreferrer">336-4495676</a></p>
  <br>
  <p>Nuestro mail es tilotiendanatural@gmail.com</p>
  <h3 style="text-decoration: underline;"><strong>COMPRAS ONLINE</strong></h3>
  <ul>
    <li>Luego de realizar el pedido, nos contactaremos dentro de las 24 hs vía mail o WhatsApp para confirmar stock y coordinar entrega.</li>
    <li>El costo del envío es a partir de $100 (aumenta dependiendo de la zona).</li>
    <li>Pedidos para Ramallo y/o Villa Constitución contactarse por mail o Instagram para coordinar.</li>
    <li>No hay pedido mínimo.</li>
    <li>Trabajamos con Mercado Pago, también aceptamos transferencias bancarias, pagos en efectivo y con tarjetas de debito en el local.</li>
  </ul>
  <div class="text-center pt-5">
    <%= link_to 'Volver', root_path, class: 'btn btn-product'  %>
  </div>
</div>
<%= render 'shared/footer' %>
