<p>Gracias <%= @order.user.email %> por comprar en Tilo Tienda Natural</p>


Detalle de la orden<br>
--------------------------
<p><strong>Sub-total:</strong> <%= @order.amount %></p>
<p><strong>Envio:</strong> <%= @order.shipping %></p>
<p><strong>Total:</strong> $<%= @order.total %></p>
<br>
<% @order.cart.line_items.each do |line_item| %>

<p><strong>Producto: </strong><%= line_item.product.title %></p>
<p><strong>Cantidad: </strong><%= line_item.quantity %></p>


<% end %>
<p><strong>Forma de Pago: </strong><%= @order.method %></p>
