<div class="payment-wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1494390248081-4e521a5940db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2590&q=80);">
  <div class="payment-container">
    <div class="payment-navbar text-center mb-5">
      <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1591298249/LogosTilo-04_1.png" alt="" style="width: 100px; height: 50px; object-fit: cover;">
    </div>
    <% if @order.amount == 0 %>
    <div class="payment-order">
      Tienes que tener un articulo para poder comprar
    </div>
    <div class="p-3">
      <%= link_to 'Ir al Carrito',cart_path(@cart), class: "btn btn-dark btn-lg btn-block"  %>
    </div>

    <% else %>
    <div class="payment-order">
        <p><strong>TOTAL:</strong><%= humanized_money_with_symbol(@order.amount) %></p>
      <form action="/procesar-pago" method="POST">
        <%= hidden_field_tag :authenticity_token %>
        <input type="hidden" name='order_id' value=<%= @order.id %>>

        <div class="form-group">
          <label for="exampleFormControlSelect1"> <strong> Metodo de Pago:</strong></label>
          <select class="form-control" id="payment_method" name="payment_method">
            <option value="Pago contra entrega">Pago contra entrega</option>
            <option type="hidden" value="Transferencia Bancaria">Transferencia Bancaria</option>
            <option value="Pago en el Local">Pago en el Local</option>
            <option value="Mercado Pago">Mercado Pago</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Envios</label>
          <select class="form-control" id="shipping_method" name="shipping_method">
            <option value="g">Retiro por el local</option>
            <option  value="low">$60 (Zona Centro)</option>
            <option value="much">$90 (Otras Zonas)</option>
          </select>
        </div>
        <button type="submit" class="btn btn-product btn-lg btn-block" data-transaction-amount="<%= @order.amount %>">Comprar</button>
      </form>
      <% end %>
    </div>
  </div>
</div>
