<div class="sidebar-container">
  <h2>Categorías:</h2>
  <div class="sidebar-list">
    <p style="color: grey;"><%= @category.title %></p>
    <h3></h3>
    <% division_title =  @category.division.title %>
    <% category_links = @categories.filter { |category| category.division.title == division_title } %>
    <% category_links.each do |g| %>
    <%= link_to category_path(g) do  %>

    <p><%= g.title %></p>
    <% end %>
    <% end %>
  </div>
  <h2>Filtrar por:</h2>
  <div class="sidebar-filter">
    <h2>Marcas</h2>
    <% @category.products.uniq(&:brand).each do |product| %>
    <p><%= link_to product.brand, category_path(brand: product.brand)%></p>
    <% end %>
    <hr style="border-width: 2px;">
    <h2>Apto para:</h2>
    <% @category.products.uniq(&:condition).each do |product| %>
    <p><%= link_to product.condition, category_path(condition: product.condition)%></p>
    <% end %>
    <% @category.products.uniq(&:vegan).each do |product| %>
    <p><%= link_to product.vegan, category_path(vegan: product.vegan)%></p>
    <% end %>
    <% @category.products.uniq(&:sugar).each do |product| %>
    <p><%= link_to product.sugar, category_path(sugar: product.sugar)%></p>
    <% end %>
    <hr style="border-width: 2px;">    <p><%= link_to 'Todos', category_path(@category)  %></p>
  </div>
</div>
