<%= render 'shared/navbar' %>
<div class="category-wrapper">
  <div class="d-none d-sm-block category-sidebar">
    <%= render 'sidebar' %>
  </div>
  <div>
    <div class="category-title d-flex justify-content-between">
      <div>
        <h2><%= @category.title %></h2>
        <p><%= @products.count %> productos</p>
      </div>
      <div>
        <div class="dropdown">
          <button class="btn btn-filter dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ordenar por <!--&nbsp;  <i class="fas fa-long-arrow-alt-down"></i><i class="fas fa-long-arrow-alt-up"></i> -->
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <%= link_to 'Mas reciente',category_path(created_at: :asc), class: 'dropdown-item' %>
            <%= link_to 'Mas antiguo', category_path(@category), class: 'dropdown-item' %>
          </div>
        </div>
      </div>
    </div>
    <div class=" d-sm-none d-flex justify-content-between">
      <div>
        <%= render 'mobile' %>
      </div>
      <div>
        <%= render 'modal' %>
      </div>
    </div>
    <div class="category-container">
      <% @products.each do |product| %>
      <%= render 'shared/cards', product: product %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
