<%= simple_form_for @product do |f| %>
<p>Nombre</p>
<%= f.input :title, label: false %>
<p>Descripcion</p>
<%= f.input :description, label: false %>
<p>Foto</p>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
<p>Stock</p>
<%= f.input :stock, label: false %>
<p>Sabor</p>
<%= f.input :flavor, label: false %>
<p>Categoria</p>
<%= f.association :category, label: false %>
<%= f.submit 'Crear Producto', class: 'btn btn-product btn-lg btn-block' %>
<% end %>

