<%= simple_form_for @product do |f| %>
<p>Nombre</p>
<%= f.input :title, label: false %>
<p>Descripcion</p>
<%= f.input :description, label: false %>
<p>Foto</p>
<%= f.input :photos, as: :file, input_html: { multiple: true } %>
<p>Precio</p>
<%= f.input :price, label: false, input_html: { class: 'form-control form-control-lg'} %>
<p>Stock</p>
<%= f.input :stock, label: false %>
<p>Marca</p>
<%= f.input :brand, label: false %>
<p>Celiaco</p>
<%= f.input :condition, label: false, collection: ['Celiaco'] %>
<p>Categoria</p>
<%= f.association :category, label: false %>
<%= f.submit 'Crear Producto', class: 'btn btn-product btn-lg btn-block' %>
<% end %>

