<%= simple_form_for @product do |f| %>
<p>Nombre</p>
<%= f.input :title, label: false %>
<p>Descripcion</p>
<%= f.input :description, label: false %>
<p>Foto</p>
<%= f.input :photos, as: :file, input_html: { multiple: true } %>
<p>Precio</p>
<%= f.input :price, label: false, input_html: { class: 'form-control form-control-lg'} %>
<p>Oferta (poner el precio anterior)</p>
<%= f.input :sale, label: false %>
<p>Stock</p>
<%= f.input :stock, label: false %>
<p>Marca</p>
<%= f.input :brand, label: false , collection: ["Beepure",
"La Francia",
"Murke",
"Las Quinas",
"Doña Magdalena",
"Cuarto Creciente",
"Le Fit",
"Fit Fruit",
"Zafran",
"Delicel",
"Integralia",
"Cachafaz",
"Quaker",
"Deluxe",
"Integra",
"Mate & Co",
"Famiglia Dell'Isola",
"Recetas de Entonces Gourmet ",
"Pampa Gourmet",
"Cristo del Cerro",
"Ricco",
"Inti zen",
"Natier",
"Dicomere",
"Heredia",
"Chamana",
"Felices las Vacas",
"Prasat",
"Leofanti",
"Carmela Tomasa",
"Sentida Botanica",
"Veganitas",
"Veganis",
"Sri Sri"
]%>
<p>Celíaco</p>
<%= f.input :condition, label: false, collection: ['Celíaco'] %>
<p>Vegano</p>
<%= f.input :vegan, label: false, collection: ['Vegano'] %>
<p>Diabético</p>
<%= f.input :sugar, label: false, collection: ['Diabético'] %>
<p>Categoría</p>
<%= f.association :category, label: false %>
<%= f.submit 'Crear Producto', class: 'btn btn-product btn-lg btn-block' %>
<% end %>


