<div class="product-navbar d-flex">
  <p>Inicio</p>
  <p>></p>
  <p><%= @product.category.division.title %></p>
  <p>></p>
  <p><%= @product.category.title %></p>
</div>
<div class="product-title">
  <h2><%= @product.title.upcase %></h2>
  <div class="quantity-product-container">
   <% if @product.flavor.present? %>
   <div class="dropdown">
    <a class="btn btn-dropdown dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= @product.flavor %>
    </a>
    <% product_title =  @product.title %>
    <% product_links = @products.filter { |product| product.title == product_title } %>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <% product_links.each do |g| %>

      <%= link_to  g.flavor, product_path(g), class: 'dropdown-item' %>
      <% end %>
    </div>
  </div>
  <br>
  <% else %>
  <% end %>
</div>




<div class="d-flex">
  <% if @product.sale.present? %>
  <h3 style="color: red; font-weight: bold;"><%= humanized_money_with_symbol(@product.price) %></h3>
  <h3 style="padding-left: 10px; text-decoration: line-through; color: lightgrey;">$<%= @product.sale %></h3>
  <% else %>
  <h3><%= humanized_money_with_symbol(@product.price) %></h3>
  <% end %>
</div>
<% if @product.stock >= 1 %>
<%= form_tag line_items_path do %>
<%= hidden_field_tag 'product_id', @product.id %>
<%= submit_tag 'AGREGAR AL CARRITO', class: 'btn btn btn-lg btn-product btn-block' %>
<% end %>
<% else %>
<button class="btn btn btn-lg btn-dark btn-block">AGOTADO</button>
<% end %>
</div>
<div class="product-content">
  <div class="d-flex justify-content-between align-items-center product-show-list" id="button" onclick="showElement()">
    <p>Detalles del producto</p>
    <p id="plus">+</p>
  </div>
  <div class="none product-show-list-hide" id="show">
    <p><%= @product.description %></p>
  </div>
  <div class="d-flex justify-content-between align-items-center product-shop-list" id="howtoshop" onclick="showElementSecondary()">
    <p>Como comprar</p>
    <p id="sum">+</p>
  </div>
  <div class="none product-show-list-hide" id="shop">
    <p>Una vez que compres el producto , nos comunicaremos con vos para pactar la entrega</p>
    <p>El pago se puede hacer mediante <strong>transferencia bancaria</strong>  o en <strong>efectivo</strong>  durante la entrega del producto</p>
    <p><strong>Por el momento el pago con tarjetas no esta disponble</strong></p>
  </div>
</div>

<script>
  const showElement = () => {
    const minus = document.getElementById('plus');
    if (minus.innerText === '+') {
      minus.innerText = '-'
    } else {
      minus.innerText = '+'
    };
    const border = document.querySelector('.product-show-list');
    border.classList.toggle("border-transparent")

    const button = document.querySelector('#show');
    button.classList.toggle("show");
  }

  const showElementSecondary = () => {
    const minus = document.getElementById('sum');
    if (minus.innerText === '+') {
      minus.innerText = '-'
    } else {
      minus.innerText = '+'
    };
    const border = document.querySelector('.product-shop-list');
    border.classList.toggle("border-transparent")

    const button = document.querySelector('#shop');
    button.classList.toggle("show");
  }

</script>
