<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Tilo Tienda Natural</title>
  <meta name="description" content="Tilo Tienda Natural. Ubicada en San Nicolás de los Arroyos. Dedicada a la venta de alimentos saludables. ">
  <%= favicon_link_tag asset_path('pagelines-brands.svg') %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

</head>

<body>
  <%= render 'shared/flashes' %>
  <%= yield %>
</body>
</html>
